{% extends 'base.html' %}
{% load static %}

{% block title %} classification process {% endblock %}

{% block content %}

    <style>
        img {
            width: 100%;
        }

        .thumbnail img {
            width: 60%;
            margin: auto;
        }

        .bg_color {
            background: #62C6C6;
            color: #fff;
        }
    </style>

    <h2>Welcome, {{ request.user.name }}</h2>
    <div class="row">
        <div class="col-md-5">
            <div class="card mt-5">
                <div class="card-body">
                    <img src="{% static 'images/screenshot1.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card mt-5">
                <div class="card-header">
                    <h3>Classification Process</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Our web-based application leverages sophisticated machine
                        learning and deep learning technologies to seamlessly classify
                        exam questions into Bloom's Taxonomy categories. By analyzing
                        the structure and content of each question, EduBloom ensures
                        that assessments are not just standardized but are also aligned
                        with educational goals and learning outcomes. This automated
                        classification not only enhances the accuracy of determining
                        cognitive levels but also significantly reduces the administrative
                        burden on educators, as it ensures that their assessments are
                        robust, comprehensive, and truly reflective of students’ learning
                        needs.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>How EduBloom works?</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="{% static 'images/screenshot2.png' %}" alt="">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3>Step 1 Question Input</h3>
                    <p class="card-text">
                        Input: Users upload the question in a supported format such as plain text.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body bg_color">
                    <h2 class="card-title mb-3">Step 2 Question Validation</h2>
                    <p class="card-text">
                        The system initially verifies if the question aligns with Bloom's Taxonomy grading criteria. If
                        the question does not include valid Bloom's Taxonomy keywords, the system will return the
                        message: <br/> <br/> "The question above does not contain any valid Bloom's Taxonomy keywords."
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/screenshot3.png' %}" alt="">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Step 3 Pre Processing </h2>
        </div>
    </div>
    <!---- start --->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="https://s3-alpha-sig.figma.com/img/abbf/60ba/dea395e34b0662b201518be7321f0371?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=A7SJ4SebpoNpApSe6KtsTOg6TQecxXMr-XKAtYkwiCy~X5r629pX~okWddXgE-1VB-xhTjTsTltf~AMbUrHoK0LI67nE1W874IvD6h-SpICD3fuH8gWUeLks5cYbV~uT6ovPWG6GW~unk4lxaEZ6rwvENBAs1qr2ly93L7rfyARCRHoC5RREUCoipzWRlP5weZj1dcizTwFvC51txPJR7B8XVUkkJ0fb73m1QIHKinnt9LVBGgcwdOtdWyza4JCHJxE0ZPJsiIyUVjppRRDycSFRpAE7lrdpxKu3YyH2JhTK11yEQbPx6NmU7ERjyxN1B-2~UUzao4elCO6qWDFljg__"
                     alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body bg_color">
                    <h2 class="card-title mb-3">Lower Case Conversion</h2>
                    <p class="card-text">
                        Converting all characters to lowercase:
                        <br/><b>Output:</b> <br/> <br/>

                        suggest any two (2) efforts that organization may perform in order to discourage unethical
                        behavior.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!---- end --->
    <!---- start --->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="https://s3-alpha-sig.figma.com/img/34a9/9a54/b193a155b7a86bfe5b9d683c890cdea9?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FmL6K3~sRPZ56h0~aZ~gD9hZff-zK5EYHt1fZsKxHuX2cydZrW~UnPgitrcFmP9KEPUWGBm682Mp5yR~KNQbKMbrhX-oOFH~SSZnDDq86ZC3HKNhLXLWK7ujZEPdkiB~kh8zc23IB32yHluLEQLMsKGxsbDhOfnYRr7ZXsKNOby-UXoxqb2sMKFXM-H66Oyh5O7FXL1yL8NyguFN6Z3lG8C87sqreyfYqCIV642xJ7kMT0A1EqPq-oipbkC-yZOGGSvVS9rP1qYUgDJKEeVjVEnkRLOWhUZnV1i6wKJU8qtE1ObsNs19jPw1yPuveo8Jz6YfL~83KfBLCcsbCHiZKQ__"
                     alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body bg_color">
                    <h2 class="card-title mb-3">Number to Word Conversion</h2>
                    <p class="card-text">
                        Converting numbers into words for consistency:
                        <br/><b>Output:</b> <br/> <br/>

                        suggest any two (two) efforts that organization may perform in order to discourage unethical
                        behavior.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!---- end --->

    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body bg_color p-5">
                    <h2 class="text-white">Step 4 Term weight</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="https://www.figma.com/file/qdrJoRTkdCOuFinsyVZ5VQ/image/12c85c39c498c977eda710721062036af00a736c"
                 alt="">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body bg_color">
                    <h2 class="card-title mb-3">Technique 1:
                        TF-IDF (Traditional Approach)</h2>
                    <p class="card-text">
                        TF-IDF is a text feature extraction technique that quantifies the importance of terms in a
                        document relative to the entire dataset. It combines Term Frequency (frequency of a term in a
                        document) and Inverse Document Frequency (rarity of the term across documents) to produce a
                        weighted numerical feature matrix for classification tasks.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="https://www.figma.com/file/qdrJoRTkdCOuFinsyVZ5VQ/image/463f9cbde5be2fec41fb00e160079f3c0b65b2c0"
                 alt="">
        </div>
        <div class="col-md-6">
            <h3>Example of how it works </h3>
            <img src="https://s3-alpha-sig.figma.com/img/e263/479c/ec976e2d66e37821dd891ca37969039f?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=mu~kpqkHtNVrBXAGVe2bIKakC-j6z9xsHrazkP~JLpeHCcK~a0Y1sD57Ydyk6vGowzWC5P6e2dk85rG2KX7BYl0QxMb-CfumBnEdGTU5TU9CyVQjwm8zO0s5IyFNT6j0g2x35Jbt1PUkJMn3iLczmnprz5AAE61tt-e6Soy4-NxrcwUqnMpw6dcHWB0nY1GCmdDjUT-U-GZNwOPWGl7Ec-B20QzTL260e4Vgt1nc66ElyztzEBqBqzm2QU1hlskdy2oDzVccFsxPY~irscfpxE7m9FieCkNt8U4tMVIGaNvoz-OrfN7X62Az-LsaAaLL3blDO8a3O5pzhVr4Tjbcmg__"
                 alt="">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body bg_color p-5">
                    <h2 class="text-white">Step 5 Classification Models</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <h3>Machine Learning Models</h3>
            <img src="https://s3-alpha-sig.figma.com/img/9fa3/9c1b/4a6ab2de4d0b11b5f01b29e614a2a7d0?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=IopQsE4Gln4m9sVu2yfzqPSZdXHpd2M0ZpfW7ye8DEUec955UueNBdrF4BQDwebXDtxdvXR9ohtlapew9jlucRneN0N749Dq4aj7GR5IW9MB4bseJB45vf60lXEyAxx83iTXxccL6ZdsXW8VZCOFh9Ha6Tj26B0u7VmanFyapVdaeoBuw5CvruUsYbXREiPalCgzg3JvWvTsUKhzLI83f~yeDg5lsvqB23l5vLJ7OtOyWSUr0LkVMrPLMkyRZ9BEddYvsV~5sZmeuZ9GPuqPI4QJ8uXyVP3i6e5wXSTWaY2r2vb1TAVYQCErqijwNfpHUXnlBN9YuoNifzppTQWdVA__"
                 alt="">
        </div>
        <div class="col-md-6 mt-5">
            <h3>Support Vector Machines (SVM):</h3>
            <p>SVM is a supervised machine learning algorithm used for classification by finding the optimal hyperplane
                separating data into distinct classes. We use it for its ability to handle high-dimensional data
                efficiently, ensuring accurate classification of questions into Bloom’s levels. Its robustness makes it
                ideal for educational datasets.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="https://www.figma.com/file/qdrJoRTkdCOuFinsyVZ5VQ/image/463f9cbde5be2fec41fb00e160079f3c0b65b2c0"
                 alt="">
        </div>
        <div class="col-md-6">
            <h3>Example of how it works </h3>
            <img src="https://s3-alpha-sig.figma.com/img/e263/479c/ec976e2d66e37821dd891ca37969039f?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=mu~kpqkHtNVrBXAGVe2bIKakC-j6z9xsHrazkP~JLpeHCcK~a0Y1sD57Ydyk6vGowzWC5P6e2dk85rG2KX7BYl0QxMb-CfumBnEdGTU5TU9CyVQjwm8zO0s5IyFNT6j0g2x35Jbt1PUkJMn3iLczmnprz5AAE61tt-e6Soy4-NxrcwUqnMpw6dcHWB0nY1GCmdDjUT-U-GZNwOPWGl7Ec-B20QzTL260e4Vgt1nc66ElyztzEBqBqzm2QU1hlskdy2oDzVccFsxPY~irscfpxE7m9FieCkNt8U4tMVIGaNvoz-OrfN7X62Az-LsaAaLL3blDO8a3O5pzhVr4Tjbcmg__"
                 alt="">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body bg_color p-2">
                    <h2 class="text-white">Step 6 Output </h2>
                    <p>This is the final step where the output is presented graphically, making it easier for users to clearly understand the corresponding Bloom's Taxonomy level for their question.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <img src="https://s3-alpha-sig.figma.com/img/f868/c7e4/44ab28e33846a1e7bac60c8e51571abd?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=otyQg-g~KNQUyLzjatm28QpHbn5geiUeykK-6xBCEknAKczizH57ELLyhEGiS-pATJfV-HURx4cv2wtRgidcRyLby88BmXqC8qqxg5s6RAEwm5HJZdtRA-kH8p9LzFSJwoPcgU~bLzWUrb~oPm5PMSUU0eEjfWUnWwWocYTjziF-6gfEIBwkZgovYQxVgrvJ0SS16mVQdd9VqCGiUDlIy0PFdiu9cmGepdm~eiz9KRP0k3CzP2xw1eHpk6TAI2NFMuouJJlvfZvv9M13f7szftYpjYdPS-uVpG0wkhODrXGRSVZd3dfmYfxbLx5pe45BAxC5SsUAHFr3cmzA703vyg__" alt="">
    </div>
    </div>
{% endblock %}
