{% extends 'base.html' %}

{% block title %}Classify{% endblock %}

{% block content %}
    <style>
        .box_main {
            background: #D9D9D9;
            padding: 90px 0;
            border-radius: 12px;
        }

        .box-content {
            max-width: 420px;
            margin: auto;
        }

        .box-text {
            text-align: justify !important;
        }

        .search {
            max-width: 420px;
            margin: auto;
        }

        .search_style {
            padding: 15px;
            background: #fff;
            border-radius: 15px;
        }

        .custom_btn_class {
            width: 100%;
            padding: 15px 0;
            border-radius: 15px;
        }
    </style>
    <div class="row box_main mt-5">
        <div class="col-md-12">
            <h1 class="box-title text-center">Automated Question Classifier</h1>
            <div class="box-content">
                <p class="box-text">Our Question Analysis Tool is an innovative solution designed to assist
                    educators
                    in the automatic classification of exam questions according to Bloom’s Taxonomy. EduBloom
                    classifies
                    each question intoone of the six Bloom’s levels: Knowledge, Comprehension, Application,
                    Analysis,
                    Synthesis, and Evaluation.

                </p>
            </div>
            <form class="search mt-2" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="question" name="question" class="form-control mb-3 search_style" placeholder="Ask a question">
                </div>
                <button class="btn btn-primary btn-sm custom_btn_class" type="submit">question</button>
            </form>
            {% if prediction %}
                <h3>Prediction: {{ prediction }}</h3>
            {% elif form.errors %}
                <p class="text-danger">There was an error with the form submission. Please try again.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
