{% extends 'base.html' %}

{% block title %}Classify question history{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'common/message/success_msg.html' %}
            {% if history %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered border-success mb-0">
                        <thead>
                        <tr>
                            <th>Question ( truncated )</th>
                            <th>Classification</th>
                            <th>Created At</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in history %}
                            <tr>
                                <td>{{ obj.title }}</td>
                                <td>{{ obj.classification }}</td>
                                <td>{{ obj.date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="text-center">
                    <p>No data found.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
