<ul class="metismenu list-unstyled" id="side-menu">
    <li>
        <a href="{% url 'dashboard' %}">
            <i class="mdi mdi-home font-size-18"></i>
            <span data-key="t-dashboard">Home</span>
        </a>
    </li>
    <li>
        <a href="{% url 'classification_process' %}">
            <i class="mdi mdi-equal-box font-size-18"></i>
            <span data-key="t-apps">Classification process </span>
        </a>
    </li>
    <li>
        <a href="{% url 'question_classification' %}">
            <i class="mdi mdi-account-question font-size-18"></i>
            <span data-key="t-apps">Question Classifier </span>
        </a>
    </li>
</ul>
