{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <h2>Welcome, {{ request.user.name }}</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-header">
                    <h3>Empowering Educators with Smart Technology</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">At EduBloom, we understand the challenges educators face in crafting
                        assessments that
                        truly measure student learning. Our innovative web-based application harnesses the power of
                        advanced machine learning algorithms to automatically classify exam questions according to
                        Bloom's Taxonomy. This ensures that your assessments are not
                        only accurate but also aligned with educational standards and learning objectives.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="card">
            <div class="card-header">
                <h3>What is Bloom Taxonomy? A definition for teachers</h3>
                <p>By  Terrell Heick / August 14, 2021 / Learning / Bloom's Taxonomy</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h3>
                    Bloom’s Taxonomy Is A Hierarchical Framework For Cognition And Learning Objectives
                </h3>
            </div>
            <div class="card-body">
                <h3 class="card-title">
                    In one sentence, Bloom’s Taxonomy is a hierarchical ordering of cognitive skills that can, among
                    countless other uses, help teachers teach, and students learn.
                </h3>
                <p class="card-text">For example, Bloom’s Taxonomy can be used to:</p>
                <ul>
                    <li>create assessments</li>
                    <li>frame discussions</li>
                    <li>plan lessons (see 249 Bloom’s Taxonomy Verbs For Critical Thinking)</li>
                    <li>evaluate the complexity of assignments</li>
                    <li>design curriculum maps</li>
                    <li>develop online courses project-based learning (often through project-based learning ideas)
                        self-assessment
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="#">Click here to discover Bloom Taxonomy Hierachical
                    Framework!</a>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>How Bloom’s Taxonomy Is Useful For Educators </h3>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        As mentioned above, the framework can be used to create assessments, evaluate the complexity of

                        assignments, increase the rigor of a lesson, simplify an activity to help personalize
                        learning, design a

                        summative assessment, plan project-based learning, frame a group discussion, and more. Because
                        it simply

                        provides an order for cognitive behaviors, it can be applied to almost anything. (You can see
                        one example

                        here–one of our teaching materials that combined Bloom’s Taxonomy with common digital tasks.)

                        The image above visually demonstrates the levels of Bloom’s Taxonomy as a spectrum rather than a

                        hierarchy, allowing room for the ‘power verbs’ that can act as synonyms (and thus activity
                        ideas) for teachers

                        planning lessons and units. There are six levels in Bloom’s Taxonomy (the initialism RUAAEC may
                        be useful to 
                        recall the levels).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-md-4">
            <!-- card -->
            <div class="card card_custom_bg card_custom_border_color text-white-50 card-h-100">
                <!-- card body -->
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h4 class="mb-3 text-white text-center mb-0 mt-3">KNOWLEDGE</h4>
                            <p class="text-white">The ability to recall or remember basic facts, terms, ideas, or
                                concepts. Learners can
                                list, define, or identify information without necessarily understanding its deeper
                                meaning.</p>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col-->
        <div class="col-xl-4 col-md-4">
            <!-- card -->
            <div class="card card_custom_bg card_custom_border_color text-white-50 card-h-100">
                <!-- card body -->
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h4 class="mb-3 text-white text-center mb-0 mt-3">COMPREHENSION</h4>
                            <p class="text-white">Demonstrating an understanding of the meaning behind information.
                                Learners can summarize,
                                explain, or paraphrase concepts in their own words, showing they grasp the idea beyond
                                mere memorization.</p>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col-->
        <div class="col-xl-4 col-md-4">
            <!-- card -->
            <div class="card card_custom_bg card_custom_border_color text-white-50 card-h-100">
                <!-- card body -->
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h4 class="mb-3 text-white text-center mb-0 mt-3">APPLICATION</h4>
                            <p class="text-white">Using learned information or methods in new situations. Learners can
                                put theories into practice, solve problems, and apply rules, formulas, or principles to
                                real-world contexts.</p>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col-->
        <div class="col-xl-4 col-md-4">
            <!-- card -->
            <div class="card card_custom_bg card_custom_border_color text-white-50 card-h-100">
                <!-- card body -->
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h4 class="mb-3 text-white text-center mb-0 mt-3">ANALYSIS</h4>
                            <p class="text-white">Breaking information into parts to explore relationships and patterns.
                                Learners can compare, contrast, categorize, and delve into the underlying structure of
                                ideas or arguments.</p>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col-->
        <div class="col-xl-4 col-md-4">
            <!-- card -->
            <div class="card card_custom_bg card_custom_border_color text-white-50 card-h-100">
                <!-- card body -->
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h4 class="mb-3 text-white text-center mb-0 mt-3">SYNTHESIS</h4>
                            <p class="text-white">Combining various elements or concepts to form a new whole. Learners
                                can create original work, propose innovative solutions, or design something novel by
                                merging their knowledge and skills.</p>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col-->
        <div class="col-xl-4 col-md-4">
            <!-- card -->
            <div class="card card_custom_bg card_custom_border_color text-white-50 card-h-100">
                <!-- card body -->
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h4 class="mb-3 text-white text-center mb-0 mt-3">EVALUATION</h4>
                            <p class="text-white">Making judgments based on criteria and standards. Learners can assess
                                the value or effectiveness of ideas, arguments, or solutions, and provide justification
                                for their conclusions.</p>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col-->
    </div><!-- end row-->
{% endblock %}
